body {
  margin: 0;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("../images/Face.jpg");
  background-size: cover;
  background-position: center;

}

h1 {
 color: red;
 font-size: 60px;
 text-align: center;

}

p {
 color: white;
 font-size: 23px;
 text-align: center;
 margin-top: 50px;
 margin-right: 100px;
 margin-bottom: 90px;
 margin-left: 100px;

}

img {
 width: 350px;
 height: 350px;
 margin-left: 580px;
 margin-top: -10px;
 opacity: 0.5;
