body {
 background-color: black;

}

h1 {
 color: red;
 font-size: 60px;
 text-align: center;

}

h2 {
 color: red;
 font-size: 40px;
 text-align: left;
 margin-left: 40px;

}

h3 {
 color: red;
 font-size: 40px;
 text-align: left;
 margin-left: 40px;

}

h4 {
 color: red;
 font-size: 40px;
 text-align: left;
 margin-left: 40px;

}

h5 {
 color: red;
 font-size: 40px;
 text-align: left;
 margin-left: 40px;

}

p {
 color: white;
 font-size: 23px;
 text-align: left;
 margin-top: 50px;
 margin-right: 100px;
 margin-bottom: 50px;
 margin-left: 150px;

}

ul {
 color: white;
 font-size: 23px;
 text-align: left;
 margin-top: 50px;
 margin-right: 100px;
 margin-bottom: 50px;
 margin-left: 150px;

}

img {
 width: 350px;
 height: 350px;
 margin-left: 580px;
 margin-top: -10px;
